In [ ]:
import pandas as pd

filename='C:/Users/alaed/Downloads/emines/option/datasets/les-arbres.csv'

In [ ]:

df=pd.read_csv(filename,sep=';',error_bad_lines=False)

In [ ]:
df.shape

In [ ]:
df.describe

In [ ]:
df.dtypes

In [ ]:
df.columns

In [ ]:
df['DOMANIALITE'].value_counts()

In [46]:
df.head()

,IDBASE,TYPEEMPLACEMENT,DOMANIALITE,ARRONDISSEMENT,COMPLEMENTADRESSE,NUMERO,LIEU / ADRESSE,IDEMPLACEMENT,LIBELLEFRANCAIS,GENRE,ESPECE,VARIETEOUCULTIVAR,CIRCONFERENCEENCM,HAUTEUR (m),STADEDEVELOPPEMENT,REMARQUABLE,geo_point_2d
0,232702.0,Arbre,Alignement,PARIS 11E ARRDT,NaN,NaN,BOULEVARD DE MENILMONTANT,000602002,Sophora,Sophora,japonica,NaN,55.0,5.0,JA,0.0,"48.8652353853, 2.38481800435"
1,235862.0,Arbre,Alignement,PARIS 18E ARRDT,NaN,NaN,AVENUE DE LA PORTE DE CLIGNANCOURT,000303007,Tilleul,Tilia,tomentosa,NaN,60.0,10.0,JA,NaN,"48.8999949231, 2.34379810146"
2,236391.0,Arbre,Alignement,PARIS 15E ARRDT,27,NaN,BOULEVARD GARIBALDI,000101024,Noisetier de Byzance,Corylus,colurna,NaN,60.0,10.0,JA,NaN,"48.8470727044, 2.30470921442"
3,241122.0,Arbre,Alignement,PARIS 14E ARRDT,NaN,NaN,RUE SARRETTE,000501003,Tilleul,Tilia,tomentosa,NaN,155.0,12.0,A,0.0,"48.8259993388, 2.32878574525"
4,99927.0,Arbre,Jardin,PARIS 16E ARRDT,NaN,NaN,JARDIN DU RANELAGH,00030007,Erable,Acer,platanoides,'Schwedleri',125.0,0.0,NaN,NaN,"48.858836461, 2.26870442691"

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline

df['HAUTEUR (m)'].hist(bins= 100)

In [ ]:
df['HAUTEUR (m)'].value_counts()

In [ ]:
df_2=df[df['HAUTEUR (m)']<100]
df_2.shape

In [ ]:
df_2['HAUTEUR (m)'].hist(bins= 100)

In [ ]:
df_2['CIRCONFERENCEENCM'].describe()

In [ ]:
#enelever les cirvconférence plus que 200 et inferier a 0cm

df_3=df_2[(df_2['CIRCONFERENCEENCM']<200) & (df_2['CIRCONFERENCEENCM']>0)]
df_3.shape

In [ ]:
df_3['CIRCONFERENCEENCM'].describe()

In [ ]:
#nombre d'arbre par arrondissement 

df_3.ARRONDISSEMENT.value_counts()

In [ ]:
df_3.columns

In [ ]:
#nombre de variété d'arbres

df_3.VARIETEOUCULTIVAR.describe()

In [90]:
#creer une liste des arbres ou les éspécées ont plus de 500 arbres
condition=df_3['ESPECE'].value_counts(dropna = False) 
l = condition[condition > 500].keys()
l

Index([           'x hispanica',          'hippocastanum',
                     'japonica',              'tomentosa',
                       'n. sp.',            'platanoides',
               'pseudoplatanus',               'x carnea',
                   'x europaea',                  'nigra',
                    'australis',                'cordata',
                 'occidentalis',                'colurna',
                      'betulus',              'excelsior',
                   'calleryana',           'pseudoacacia',
                 'platyphyllos',              'serrulata',
                      'baccata',                      nan,
                   'orientalis',              'campestre',
           'nigra subsp. nigra',                   'alba',
                      'pendula',              'sylvatica',
                     'sinensis',             'cerasifera',
                        'avium',           'siliquastrum',
                       'biloba',                  'robur',
                    'altissima',             'tulipifera',
                        'ornus',                'negundo',
                 'carpinifolia',              'leylandii',
                    'domestica',                   'ilex',
                 'x canadensis', 'triacanthos f. Inermis',
                   'paniculata',           'angustifolia',
                 'fraxinifolia',             'lawsoniana',
                  'triacanthos',            'styraciflua',
                 'bignonioides'],
      dtype='object')

In [ ]:
#eliminer les éspéces qui ont moins de 500 arbres
condition1 = df_3['ESPECE'].isin(l)
ndata=df_3[condition1]
ndata['ESPECE'].value_counts()

In [51]:
#les arbres remarquables
data_remarquable=ndata[ndata.REMARQUABLE==1]
data_remarquable.shape

(18, 17)

In [105]:
#creation de la variable dans paris
ndata.ARRONDISSEMENT.value_counts()
ndata['dans_paris']=['PARIS' in arr for arr in ndata.ARRONDISSEMENT]

C:\Users\alaed\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

True     131313
False     17617
Name: dans_paris, dtype: int64

In [106]:
data_paris=ndata[ndata['dans_paris']==True]
data_paris.shape

(131313, 19)

In [236]:
#nombre d'arbre par arrondissement dans une nouvelle DATA Frame
data_3=data_paris.groupby(["ARRONDISSEMENT"])["ARRONDISSEMENT"].count()
data_3=pd.DataFrame(data_3)

In [131]:
filename='C:/Users/alaed/Downloads/emines/option/datasets/arrondissements.csv'
data_arr=pd.read_csv(filename)
data_arr.shape

(25, 2)

In [141]:
#enlever les arrondissements qui ne sont pas dans Paris

data_arr['dans_paris'] = ["PARIS" in x for x in data_arr['ARROND']]
data_arr = data_arr[data_arr['dans_paris']== True]

In [155]:
data_arr=data_arr.drop('dans_paris',1)

In [261]:
#joindre les datas
#change name of column
data_arr = data_arr.rename(columns={'ARROND': 'ARR'})

#pd.concat([data_arr,data_3], axis=1)