# ALI YOULYOUZ

In [1]:
import os
os.getcwd()

'C:\\Python27\\Scripts'

In [2]:
os.chdir("C:\\Users\\Toshiba\\bases_donnees")
import pandas as pd

In [3]:
df1 = pd.read_csv('les-arbres.csv',sep=';',error_bad_lines=False)

Skipping line 1916: expected 17 fields, saw 18

In [4]:
df2=pd.read_csv('arrondissements.csv',sep=';',error_bad_lines=False)

In [ ]:
df1.describe()

In [ ]:
df2.describe

In [ ]:
df1.dtypes

# Exploration

## Statistiques des variables numériques

In [ ]:
df1.NUMERO.describe()

In [ ]:
df1.CIRCONFERENCEENCM.describe()

In [ ]:
df1['HAUTEUR (m)'].describe()

In [ ]:
df1.REMARQUABLE.describe()

## Le nombre d'occurences

In [ ]:
df1.TYPEEMPLACEMENT.value_counts()

In [ ]:
df1['DOMANIALITE'].value_counts()

In [ ]:
df1.ESPECE.value_counts()

.............

In [ ]:
df1.head()

## Visualisation

In [ ]:
import matplotlib.pyplot as plt
plt.plot(df1.CIRCONFERENCEENCM)
plt.show()

In [ ]:
plt.plot(df1['HAUTEUR (m)'])
plt.show()

In [ ]:
plt.plot(df1['NUMERO'])
plt.show()

In [ ]:
plt.plot(df1['REMARQUABLE'])
plt.show()

## elimination des valeurs aberrantes

In [ ]:
df1=df1[df1.CIRCONFERENCEENCM<=500]

In [ ]:
df1=df1[df1['HAUTEUR (m)']<=100]

# 3. nature des arbres par arrondissement

## nombre d'arbres par arrondissement

In [ ]:
df1['ARRONDISSEMENT'].value_counts()

## nombre d'arbres par espéces

In [ ]:
df1['ESPECE'].value_counts()

## nombre d'arbres par damanialité

In [ ]:
df1['DOMANIALITE'].value_counts()

## nombre de variétés d'arbres par arrondissements

In [ ]:
L=[]
for i in range(0,len(df1['ARRONDISSEMENT'].value_counts())):
    data=df1[df1.ARRONDISSEMENT==df1['ARRONDISSEMENT'].value_counts().index[i]]
    L.append(len(data['VARIETEOUCULTIVAR'].value_counts()))
import numpy as np
import pandas as pd
table = pd.DataFrame(np.array(L), index = np.array(df1['ARRONDISSEMENT'].value_counts().index))
table

## nombre de variétés d'arbres par espèces

In [ ]:
L=[]
for i in range(0,len(df1['ESPECE'].value_counts())):
    data=df1[df1.ARRONDISSEMENT==df1['ESPECE'].value_counts().index[i]]
    L.append(len(data['VARIETEOUCULTIVAR'].value_counts()))
import numpy as np
import pandas as pd
table = pd.DataFrame(np.array(L), index = np.array(df1['ESPECE'].value_counts().index))
table

## nombre de variétés d'arbres par domanialité

In [ ]:
L=[]
for i in range(0,len(df1['DOMANIALITE'].value_counts())):
    data=df1[df1.ARRONDISSEMENT==df1['DOMANIALITE'].value_counts().index[i]]
    L.append(len(data['VARIETEOUCULTIVAR'].value_counts()))
import numpy as np
import pandas as pd
table = pd.DataFrame(np.array(L), index = np.array(df1['DOMANIALITE'].value_counts().index))
table

## statistiques de la hauteur par arrondissement

In [11]:
import numpy as np
import pandas as pd
A=pd.DataFrame(data=None, columns=np.array(df1['HAUTEUR (m)'].describe().index))
for i in range(0,len(df1['ARRONDISSEMENT'].value_counts())):
    data=df1[df1.ARRONDISSEMENT==df1['ARRONDISSEMENT'].value_counts().index[i]]
    M=data['HAUTEUR (m)'].describe()
    L=[i for i in M]
    N=np.transpose(L, axes=None)
    A.loc[len(A)]=N
A.index=np.array(df1['ARRONDISSEMENT'].value_counts().index)
A

,count,mean,std,min,25%,50%,75%,max
PARIS 15E ARRDT,17156.0,6.420727,9.655588,0.0,0.0,6.0,10.0,810.0
PARIS 13E ARRDT,16714.0,8.698397,10.304787,0.0,4.0,8.0,12.0,204.0
PARIS 16E ARRDT,16405.0,10.137946,6.780833,0.0,5.0,10.0,14.0,255.0
PARIS 20E ARRDT,15341.0,8.628056,7.268243,0.0,5.0,8.0,12.0,512.0
PARIS 19E ARRDT,13723.0,8.716316,9.856035,0.0,1.0,8.0,15.0,610.0
PARIS 12E ARRDT,12602.0,9.305983,14.208382,0.0,5.0,10.0,10.0,1211.0
SEINE-SAINT-DENIS,11574.0,4.577156,6.085827,0.0,0.0,0.0,8.0,78.0
BOIS DE VINCENNES,11512.0,85.180073,8218.634820,0.0,0.0,8.0,14.0,881818.0
PARIS 14E ARRDT,11422.0,9.368674,7.119396,0.0,6.0,8.0,12.0,512.0
PARIS 17E ARRDT,10764.0,7.836585,6.082232,0.0,4.0,8.0,12.0,130.0
PARIS 18E ARRDT,10025.0,8.526683,15.143188,0.0,5.0,8.0,12.0,1216.0
PARIS 7E ARRDT,8689.0,14.392911,65.797238,0.0,8.0,10.0,15.0,2525.0
VAL-DE-MARNE,7581.0,7.307215,9.926893,0.0,0.0,3.0,15.0,219.0
PARIS 8E ARRDT,7247.0,11.592383,14.016403,0.0,8.0,11.0,15.0,1113.0
PARIS 11E ARRDT,5663.0,11.233622,68.600598,0.0,5.0,10.0,15.0,5155.0
HAUTS-DE-SEINE,5299.0,1.520853,3.791331,0.0,0.0,0.0,0.0,20.0
BOIS DE BOULOGNE,3983.0,8.223952,5.988651,0.0,5.0,8.0,12.0,105.0
PARIS 10E ARRDT,3386.0,10.260484,6.289572,0.0,6.0,10.0,13.0,122.0
PARIS 4E ARRDT,2740.0,10.758029,20.008036,0.0,5.0,10.0,15.0,1010.0
PARIS 5E ARRDT,2403.0,12.076987,20.610426,0.0,7.0,10.0,15.0,714.0
PARIS 6E ARRDT,1766.0,12.090034,19.913591,0.0,8.0,10.0,15.0,810.0
PARIS 1ER ARRDT,1413.0,8.660297,6.513820,0.0,5.0,10.0,10.0,100.0
PARIS 3E ARRDT,1209.0,9.859388,4.977440,0.0,6.0,9.0,13.0,30.0
PARIS 9E ARRDT,1167.0,9.957155,5.614996,0.0,6.0,10.0,14.0,28.0
PARIS 2E ARRDT,548.0,9.525547,5.814412,0.0,5.0,9.0,13.0,86.0

## statistiques de la hauteur par espèce

In [ ]:
df1.dropna()
import numpy as np
import pandas as pd
A=pd.DataFrame(data=None, columns=np.array(df1['HAUTEUR (m)'].describe().index))
for i in range(0,len(df1['ESPECE'].value_counts())):
    data=df1[df1.ARRONDISSEMENT==df1['ESPECE'].value_counts().index[i]]
    M=data['HAUTEUR (m)'].describe()
    L=[i for i in M]
    N=np.transpose(L, axes=None)
    A.loc[len(A)]=N
A.index=np.array(df1['ESPECE'].value_counts().index)
A

## statistiques de la hauteur par domanialité

In [ ]:
df1.dropna()
import numpy as np
import pandas as pd
A=pd.DataFrame(data=None, columns=np.array(df1['HAUTEUR (m)'].describe().index))
for i in range(0,len(df1['DOMANIALITE'].value_counts())):
    data=df1[df1.ARRONDISSEMENT==df1['DOMANIALITE'].value_counts().index[i]]
    M=data['HAUTEUR (m)'].describe()
    L=[i for i in M]
    N=np.transpose(L, axes=None)http://localhost:8888/notebooks/homework1.ipynb#statistiques-de-la-circonf%C3%A9rence-par-arrondissement
    A.loc[len(A)]=N
A.index=np.array(df1['DOMANIALITE'].value_counts().index)
A

## statistiques de la circonférence par arrondissement

In [ ]:
df1.dropna()
import numpy as np
import pandas as pd
A=pd.DataFrame(data=None, columns=np.array(df1['CIRCONFERENCEENCM'].describe().index))
for i in range(0,len(df1['ARRONDISSEMENT'].value_counts())):
    data=df1[df1.ARRONDISSEMENT==df1['ARRONDISSEMENT'].value_counts().index[i]]
    M=data['CIRCONFERENCEENCM'].describe()
    L=[i for i in M]
    N=np.transpose(L, axes=None)
    A.loc[len(A)]=N
A.index=np.array(df1['ARRONDISSEMENT'].value_counts().index)
A

## statistiques de la circonférence par espèce

In [ ]:
df1.dropna()
import numpy as np
import pandas as pd
A=pd.DataFrame(data=None, columns=np.array(df1['CIRCONFERENCEENCM'].describe().index))
for i in range(0,len(df1['ESPECE'].value_counts())):
    data=df1[df1.ARRONDISSEMENT==df1['ESPECE'].value_counts().index[i]]
    M=data['CIRCONFERENCEENCM'].describe()
    L=[i for i in M]
    N=np.transpose(L, axes=None)
    A.loc[len(A)]=N
A.index=np.array(df1['ESPECE'].value_counts().index)
A

## statistiques de la circonférence par domanialité

In [ ]:
df1.dropna()
import numpy as np
import pandas as pd
A=pd.DataFrame(data=None, columns=np.array(df1['CIRCONFERENCEENCM'].describe().index))
for i in range(0,len(df1['DOMANIALITE'].value_counts())):
    data=df1[df1.ARRONDISSEMENT==df1['DOMANIALITE'].value_counts().index[i]]
    M=data['CIRCONFERENCEENCM'].describe()
    L=[i for i in M]
    N=np.transpose(L, axes=None)
    A.loc[len(A)]=N
A.index=np.array(df1['DOMANIALITE'].value_counts().index)
A

# les arbres remarquables

In [15]:
df1.groupby('REMARQUABLE')['CIRCONFERENCEENCM','HAUTEUR (m)'].mean()

             CIRCONFERENCEENCM  HAUTEUR (m)
REMARQUABLE
0.0                  93.052066    16.702311
1.0                 303.342391    21.282609

On peut alors conclure que les arbres remarquables sont celles qui sont plus longues et ont une grande circonférence

In [20]:
df1.groupby('REMARQUABLE')['ESPECE'].unique()

REMARQUABLE
0.0    [japonica, tomentosa, cordata, oblonga, colurn...
1.0    [kaki, x hispanica, orientalis, colurna, occid...
Name: ESPECE, dtype: object

In [21]:
On peut gérer les valeurs manquantes de la colonne "remarquable" par remplir en:
    1: si l'arbre a une circonférence et une longueur supérieurs à la moyenne
    0 : sinon

,IDBASE,TYPEEMPLACEMENT,DOMANIALITE,ARRONDISSEMENT,COMPLEMENTADRESSE,NUMERO,LIEU / ADRESSE,IDEMPLACEMENT,LIBELLEFRANCAIS,GENRE,ESPECE,VARIETEOUCULTIVAR,CIRCONFERENCEENCM,HAUTEUR (m),STADEDEVELOPPEMENT,REMARQUABLE,geo_point_2d
0,232702.0,Arbre,Alignement,PARIS 11E ARRDT,NaN,NaN,BOULEVARD DE MENILMONTANT,000602002,Sophora,Sophora,japonica,NaN,55.0,5.0,JA,0.0,"48.8652353853, 2.38481800435"