# Exemple de notebook jupyter


Un notebook jupyter est un environnement de developpement en ligne à base de cellules executables qui contient

* des cellule en markdown (comme celle-ci) (texte mis en forme)

* des cellules en python (ou R)

On lance un [notebook jupyter](https://jupyter.org/) avec la commande suivante    


        > jupyter notebook

In [15]:
# list comprehension

liste_a = [1,2,3,4,5,6,5,4,3,2,1, 12, 10]
liste_b = [3,5,7,9,7,3,1,3,5, 2,2]


# liste_c contient les  elements communs a liste_a et liste_b


liste_c = [x for x in liste_a if x in liste_b]
# les elements uniques de liste_c
sorted(list(set(liste_c)))

[1, 2, 3, 5]

# Dataframe  Pandas

In [2]:
import pandas as pd

DATA_PATH = '../data/'

In [16]:
# load le dataset dans une dataframe pandas
# Preciser que les colonnes du fichiers sont séparées par un ; et non une ,


df = pd.read_csv(DATA_PATH + 'les-arbres.csv', sep = ';', error_bad_lines = False)

b'Skipping line 1916: expected 17 fields, saw 18\n'

In [17]:
# Les 5 premiers lignes du dataset
df.head()

,IDBASE,TYPEEMPLACEMENT,DOMANIALITE,ARRONDISSEMENT,COMPLEMENTADRESSE,NUMERO,LIEU / ADRESSE,IDEMPLACEMENT,LIBELLEFRANCAIS,GENRE,ESPECE,VARIETEOUCULTIVAR,CIRCONFERENCEENCM,HAUTEUR (m),STADEDEVELOPPEMENT,REMARQUABLE,geo_point_2d
0,232702.0,Arbre,Alignement,PARIS 11E ARRDT,NaN,NaN,BOULEVARD DE MENILMONTANT,000602002,Sophora,Sophora,japonica,NaN,55.0,5.0,JA,0.0,"48.8652353853, 2.38481800435"
1,235862.0,Arbre,Alignement,PARIS 18E ARRDT,NaN,NaN,AVENUE DE LA PORTE DE CLIGNANCOURT,000303007,Tilleul,Tilia,tomentosa,NaN,60.0,10.0,JA,NaN,"48.8999949231, 2.34379810146"
2,236391.0,Arbre,Alignement,PARIS 15E ARRDT,27,NaN,BOULEVARD GARIBALDI,000101024,Noisetier de Byzance,Corylus,colurna,NaN,60.0,10.0,JA,NaN,"48.8470727044, 2.30470921442"
3,241122.0,Arbre,Alignement,PARIS 14E ARRDT,NaN,NaN,RUE SARRETTE,000501003,Tilleul,Tilia,tomentosa,NaN,155.0,12.0,A,0.0,"48.8259993388, 2.32878574525"
4,99927.0,Arbre,Jardin,PARIS 16E ARRDT,NaN,NaN,JARDIN DU RANELAGH,00030007,Erable,Acer,platanoides,'Schwedleri',125.0,0.0,NaN,NaN,"48.858836461, 2.26870442691"

In [18]:
# exemple de string interpolation
print("le dataset a {} echantillons et {} variables".format(df.shape[0], df.shape[1] ))

le dataset a 200332 echantillons et 17 variables

In [19]:
# le nombre d'arbres par espece pour les 10 espece les plus fréquentes:

df.ESPECE.value_counts()[0:10]

x hispanica       36464
hippocastanum     20063
japonica          11823
n. sp.             9074
tomentosa          8992
pseudoplatanus     7432
platanoides        6299
nigra              4947
x europaea         4707
x carnea           4417
Name: ESPECE, dtype: int64